# Django Secret Key
DJANGO_SECRET_KEY=your_django_secret_key_here

# JWT Signing Key
JWT_SIGNING_KEY=your_jwt_signing_key_here

# Django dev database example
DATABASE_URL=postgres://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME
